.category {
  width: 120px;
  margin-right: 10px;
  background-color: #fff;
  .MuiMenu-paper {
    max-height: 300px;
  }
}
.amount {
  width: 120px;
}

.listSubHeader {
  background-color: #fff !important;
}
